
<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Event Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <!--<ion-card-header>-->
      <!--<h1>{{selEvent?.name}}</h1>-->
    <!--</ion-card-header>-->
    <ion-card-content>
      <h2 (click)="onUpdateName()">{{selEvent?.name}}</h2>
      <p (click)="onUpdateDate()">When: <strong>{{selEvent?.when}}</strong></p>
      <p (click)="onUpdateLocation()">Where: <strong>{{selEvent?.where}}</strong></p>
      <pre (click)="onUpdateDescription()"><span>{{selEvent?.description}}</span></pre>
      <!--<ion-item (click)="onUpdateDescription()">-->
        <!--<ion-textarea [readonly]="true" type="text">-->
          <!--{{selEvent?.description}}-->
        <!--</ion-textarea >-->
      <!--</ion-item>-->
    </ion-card-content>


    <ion-row>
      <ion-col>
        <button
          ion-button
          icon-left
          clear
          small
          (click)="onAddLike(selEvent?.eventId)"
          *ngIf="!this.isLiked">
          <ion-icon name="heart-outline"></ion-icon>
          <label>{{selEvent?.likes}} Likes</label>
        </button>
        <button
          ion-button
          icon-left
          clear
          small
          color="danger"
          (click)="onRemoveLike(selEvent?.eventId)"
          *ngIf="this.isLiked">
          <ion-icon name="heart"></ion-icon>
          <label>{{selEvent?.likes}} Likes</label>
        </button>

      </ion-col>

    </ion-row>
  </ion-card>


<ion-list>
  <ion-item>
    Likes
    <ul id="taglist">
      <li *ngFor="let item of likedByList | async">
        <button ion-button color="light">{{ item.name }}</button>
      </li>
    </ul>
  </ion-item>

</ion-list>

</ion-content>
