page-event-detail {
  #taglist {
    display: inline;
    list-style: none;
  }

  #taglist li {
    display: inline;
  }

  #taglist li:last-child:after {
    content: "";
  }

  pre {
    font-size:small;
  }

  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
}
