<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>{{eventName | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-segment [(ngModel)]="relationship" color="primary">
    <ion-segment-button value="circles" (ionSelect)="selectedCircles()">
      My Circles
    </ion-segment-button>
    <ion-segment-button value="all" (ionSelect)="selectedAll()">
      All
    </ion-segment-button>
  </ion-segment>
  <ion-item *ngIf="!isAttendanceEnabled">
    <ion-label>Attendance is disabled</ion-label>
  </ion-item>
  <ion-item *ngFor="let member of members">
    <ion-avatar item-start>
      <img [src]="getAvatar(member?.photoUrl)">
    </ion-avatar>
    <h2>{{member.firstName}} {{member.lastName}}</h2>
    <!--<p>Hayao Miyazaki • 1988</p>-->
    <!--<button ion-button clear item-end>View</button>-->
    <div item-content *ngIf="isAttendanceEnabled">
      <button
        ion-button
        icon-left
        clear
        small
        (click)="onUpVote(member)"
        *ngIf="!member.isVoted">
        <ion-icon name="ios-thumbs-up-outline"></ion-icon>
        <label>{{member?.voteCount}}</label>
      </button>
      <button
        ion-button
        icon-left
        clear
        small
        color="danger"
        (click)="onDownVote(member)"
        *ngIf="member.isVoted">
        <ion-icon name="thumbs-up"></ion-icon>
        <label>{{member?.voteCount}}</label>
      </button>
    </div>
    <div item-content *ngIf="!isAttendanceEnabled">
      <button
        ion-button
        icon-left
        clear
        small
        color="hcolor">
        <ion-icon name="thumbs-up" *ngIf="member?.voteCount>0"></ion-icon>
        <label>{{member?.voteCount}}</label>
      </button>
    </div>
  </ion-item>
</ion-content>
