<ion-menu persistent="true" [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!--<ion-list>-->
      <!--<ion-list-header>-->
        <!--Organizations-->
      <!--</ion-list-header>-->
      <!--<button ion-item menuClose *ngFor="let p of userOrganizations" (click)="onSelectOrganization(p)">-->
        <!--<ion-icon item-start ></ion-icon>-->
        <!--{{p.name}}-->
      <!--</button>-->
    <!--</ion-list>-->

    <ion-list>
      <button
        ion-item
        icon-left
        (click)="onLoad(rootPage)"
        *ngIf="isAuthenticated">
        <ion-icon name="book"></ion-icon>
        HOME - AttME
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad('MemberListPage')"
        *ngIf="isAuthenticated">
        <ion-icon name="people"></ion-icon>
        Members
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad('profile')"
        *ngIf="isAuthenticated">
        <ion-icon name="person"></ion-icon>
        My Profile
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad('UserOrgsPage')"
        *ngIf="isAuthenticated">
        <ion-icon name="person"></ion-icon>
        My Organizations
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad('login')"
        *ngIf="!isAuthenticated">
        <ion-icon name="log-in"></ion-icon>
        Signin
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad('signup')"
        *ngIf="!isAuthenticated">
        <ion-icon name="person"></ion-icon>
        Signup
      </button>
      <button
        ion-item
        icon-left
        (click)="onLogout()"
        *ngIf="isAuthenticated">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
      <!--<button-->
        <!--ion-item-->
        <!--icon-left-->
        <!--(click)="onLoad('demo')">-->
        <!--<ion-icon name="people"></ion-icon>-->
        <!--Demo-->
      <!--</button>-->
      <button
        ion-item
        icon-left
        (click)="onLoad('AboutPage')"
        *ngIf="isAuthenticated">
        <ion-icon name="information-circle"></ion-icon>
        About
      </button>

      <button
        ion-item
        icon-left
        (click)="onLoad('TestAvatarPage')"
        *ngIf="isAuthenticated">
        <ion-icon name="information-circle"></ion-icon>
        About
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
