<ion-header>

  <ion-navbar color="hcolor">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Members</ion-title>
    <ion-buttons right="">
      <button ion-button icon-only (click)="onCreateMember()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let member of members">
      <ion-avatar item-start (click)="onLoadMember(member)">
        <!--<img src="assets/img/avatar-luke.png">-->
        <!--<img src="{{member?.photoUrl}}">-->
        <img [src]="getAvatar(member?.photoUrl)">
      </ion-avatar>
      <!--<h2>{{member?.photoUrl}}</h2>-->
      <h2>{{member?.firstName}} {{member?.lastName}}</h2>
      <!--<p>Hayao Miyazaki • 1988</p>-->
      <!--<button ion-button clear item-end>View</button>-->
      <div item-content>
        <button
          ion-button
          clear
          small
          (click)="onAddToCircle(member)"
          *ngIf="!member?.isMyCircle">
          <ion-icon name="heart-outline"></ion-icon>
        </button>
        <button
          ion-button
          clear
          small
          color="danger"
          (click)="onRemoveFromCircle(member)"
          *ngIf="member?.isMyCircle">
          <ion-icon name="heart"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
