<ion-header>
  <ion-navbar color="hcolor" align-title="center">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-segment [(ngModel)]="relationship" color="primary">
    <ion-segment-button value="past" (ionSelect)="selectPastEvents()">
      Previous
    </ion-segment-button>
    <ion-segment-button value="current" (ionSelect)="selectCurrentEvents()">
      Recent
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-card *ngFor="let event of events" >

      <ion-item (click)="goToEventDetail(event?.$key)">
        <h2>{{event?.name}}</h2>
        <p><strong>{{event?.where}}</strong></p>
        <p><strong>{{event?.when}}</strong></p>
      </ion-item>

      <ion-card-content (click)="goToEventDetail(event?.$key)">
        <p>{{event?.description}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button
            ion-button
            icon-left
            clear
            small
            *ngIf="!event?.isLiked"
            (click)="goToEventDetail(event?.$key)">
            <ion-icon name="heart-outline"></ion-icon>
            <label>{{event?.likes}} Likes</label>
          </button>
          <button
            ion-button
            icon-left
            clear
            small
            color="danger"
            *ngIf="event?.isLiked"
            (click)="goToEventDetail(event?.$key)">
            <ion-icon name="heart"></ion-icon>
            <label>{{event?.likes}} Likes</label>
          </button>

        </ion-col>
        <!--TODO: Add comment count-->
        <ion-col>
          <button ion-button
                  icon-left
                  clear
                  small
                  (click)="goToEventComments(event?.$key)">
            <ion-icon name="chatbubbles"></ion-icon>
            <label>{{event?.comments}} </label>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button
                  icon-left clear small
                  color="secondary"
                  (click)="goToEventAttendees(event?.$key)">
            <!--<ion-icon name="people" *ngIf="getAttendanceCount(event.id)>0"></ion-icon>-->
            <ion-icon name="people"></ion-icon>
            <label>{{event?.attendeesCount}}</label>
          </button>
        </ion-col>
        <!--<ion-col center text-center>-->
          <!--<ion-note>-->
            <!--11h ago-->
          <!--</ion-note>-->
        <!--</ion-col>-->
      </ion-row>

    </ion-card>
  </ion-list>
</ion-content>
