<ion-header>
  <ion-navbar color="hcolor" align-title="center">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons right *ngIf="enableAddEvent">
      <button ion-button icon-only (click)="onNewEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="queryText" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="reloadThreads($event)" *ngIf="segment=='past'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>


  <!--<div *ngIf="loading" class="spinner-container">-->
  <!--<ion-spinner></ion-spinner>-->
  <!--</div>-->
  <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="filterEvents(segment)">
    <ion-segment-button value="past">
      Previous
    </ion-segment-button>
    <ion-segment-button value="current">
      Recent
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-card *ngFor="let anEvent of iEvents" >

      <ion-item (click)="goToEventDetail(anEvent.key)">
        <h2>{{anEvent?.name}}</h2>
        <p>When: {{anEvent?.when}}</p>
        <p>Where: {{anEvent?.where}}</p>
        <pre><span>{{anEvent?.description}}</span></pre>
      </ion-item>

      <ion-row>
        <ion-col>
          <button
            ion-button
            icon-left
            clear
            small
            *ngIf="!anEvent?.isLiked"
            (click)="goToEventDetail(anEvent?.key)">
            <ion-icon name="heart-outline"></ion-icon>
            <label>{{anEvent?.likes}} Likes</label>
          </button>
          <button
            ion-button
            icon-left
            clear
            small
            color="danger"
            *ngIf="anEvent?.isLiked"
            (click)="goToEventDetail(anEvent?.key)">
            <ion-icon name="heart"></ion-icon>
            <label>{{anEvent?.likes}} Likes</label>
          </button>

        </ion-col>
        <!--TODO: Add comment count-->
        <ion-col>
          <button ion-button
                  icon-left
                  clear
                  small
                  (click)="goToEventComments(anEvent?.key)">
            <ion-icon name="chatbubbles"></ion-icon>
            <label>{{anEvent?.comments}} </label>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button
                  icon-left clear small
                  color="secondary"
                  (click)="goToEventAttendees(anEvent?.key)">
            <!--<ion-icon name="people" *ngIf="getAttendanceCount(event.id)>0"></ion-icon>-->
            <ion-icon name="people"></ion-icon>
            <label>{{anEvent?.attendees}}</label>
          </button>
        </ion-col>
        <!--<ion-col center text-center>-->
        <!--<ion-note>-->
        <!--11h ago-->
        <!--</ion-note>-->
        <!--</ion-col>-->
      </ion-row>

    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="fetchNextThreads($event)" threshold="10px" *ngIf="(weekNumber > 0 && weekNumber <= 52) && (queryText.trim().length == 0) && segment=='past' && internetConnected">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
